
body{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

main{
  margin: 35px auto;
  width: 625px;
}

#content{
  margin: 0 auto;
  width: 580px;
}

img{
  margin-bottom: 32px;
}

h1, span, a{
  color: #3F3D56;
}

h1 span{
  color: #EE24FF;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
 /* white-space: nowrap; */
}

#brand, p{
  color: #828282;
}

p + p{
  margin-top: 32px;
}

p, a{
  font-size: 15px;
  line-height: 22px;
}

p{
  font-weight: 400;
}

span, a{
  font-weight: 700;
}


.line{
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
  width: 390px;
}

ul{
  display: flex;
  gap: 42px;
  justify-content:center;
  list-style: none;
  margin: 0 auto 20px;
  padding: 0;
}

a{
  text-decoration: none;
}

.wave{
  height: 60px;
}
.wave img{
  position: relative;
  overflow: hidden;
  margin-bottom: -10px;
  width: 100%;
}


